body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}


#id1 {
  width: 100%;
  height: 100%;
  background-image: url("img/copa.jpg");
  background-size: cover;
  background-position: center;

}



div {
  position: absolute;
  border: 1px solid #000000;
}


.interior {
  width: 30%;
  height: 40%;
  border-radius: 50px;
  box-shadow: 10px 10px gray;
  transition: transform 0.5s;

}

.interior:hover {
  transform: rotateY(180deg);
}


.name {
  display: none;
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 30%;
  background-color: beige;
  top: 8%;
}


.interior:hover .img {
  display: none;
}
.interior:hover .name {
  display: block;
}


.superior {
  top: 8%;
}

.inferior {
  bottom: 8%;
}

.izquierda {
  left: 2%;
}

.derecha {
  right: 2%;
}

.izquierdas {
  left: 35%;
  top: 75px;
}

.derechas {
  right: 35%;
}


#id2 {
  background-image: url("img/cr.jpg");
  background-position: center;
  background-size: 400px 400px;
}

#id3 {
  background-image: url("img/ronaldhiño.jpg");
  background-position: center;
  background-size: 500px 500px;
}

#id4 {
  background-image: url("img/messi.jpg");
  background-position: center;
  background-size: 400px 400px;
}

#id5 {
  background-image: url("img/neymar.jpg");
  background-position: center;
  background-size: 400px 400px;
}

#id6 {
  background-image: url("img/pe.jpg");
  background-position: center;
  background-size: 400px 400px;
}

#id7 {
  background-image: url("img/mara.jpg");
  background-position: center;
  background-size: 400px 400px;
}

h1 {
  text-align: center;
}

#id1 > div {
    cursor: pointer;
}